<!DOCTYPE html>

<html>

{% block content %}

    <div class="content">
        


        {% if user.student %}

            <p>Welcome {{ request.user.student.Name }}</p>
            
        <ul>
            <li>Email: {{ request.user.email|default:"NA" }}</li>
            <li>SuperUser: {{ request.user.is_superuser }}</li>
            <li>Staff: {{ request.user.is_staff }}</li>
            <li>Date Joined: {{ request.user.date_joined }}</li>
            <li>Last Login: {{ request.user.last_login }}</li>
        </ul>
<!---
        { % elif user.parent  % }

            <p>Welcome {{ request.user.parent }}
-->
        {% elif request.user.is_superuser  %}

        





        {% elif request.user.parent  %}

            <p> welcome {{ request.user.parent.fname}} </p>


        {% endif %}


        <p>User Details:</p>


        <p><a href="{% url 'logout' %}">Logout</a></p>

        </div>
    
</html>
{% endblock %}