<!doctype html>
<html lang="en">

<head>
	<title>DandiBoru</title>
	<meta charset="utf-8">
	
	{% load staticfiles %}
	<link rel="stylesheet" href="{% static 'personal/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'personal/loginForm.css' %}">
	<link rel="stylesheet" href="{% static 'personal/NavBarCss.css' %}">
	<link rel="stylesheet" href="{% static 'personal/responsive.css' %}">
	<script src="{% static 'personal/js/bootstrap.min.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<body class="body" style="background-color: #f6f6f6">
	{% block content %}
	<div> 

	</div>
	{% endblock %}
</body>

</html>