{% extends "htmlFiles/Header.html" %}

{% load crispy-forms_tags %}

{% block content %}
<div class="container-Fluid">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel-body">
				<form class="form-horizontal" action="" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					{% 'include 'htmlFiles/form-template.html' %}
					<div = class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<button type="submit" class="btn btn-success"></button>

						</div>

						<div>
							<a href="/accounts/password_reset/">Activate account First</a>
						</div>


			</div>
		</div>
	</div>
</div>


{% endblock %}